/* CSS for Homepage */

html {
	background:#EGE6FA;
}

div {
	width: 700px;
	margin-left:auto;
	margin-right:auto;
	background:white;
	padding:25px
}

iframe {
	margin: 0 auto;
	display:block;
}

h1 {
	text-align:center;
}

h2 {
	text-align:center;
}

img {
}
